body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

:root {
  --primario: #ccaaa9;
  --secundario: #e4c1c0;
  --terciario: #eee1e1;
  --cuarto: #cf0b53ed;
  --footer: #552247;
  --blanco : #ffffff;
  --negro : rgb(0, 0, 0);
  --fuente: font-family: 'Baloo 2', cursive;

}

html {
  box-sizing: border-box;
  font-size: 62.5%; /**para trabajar con rem**/
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**globales**/
li {
  text-decoration: none;
  list-style: none;
  text-align: center;
}
form {
  align-items: center;
  margin: 0 auto;
}
h1,h2,h3{
  text-align: center;
}

/** header **/
body .header{
  background-color: var(--primario);
}
header {
  background-color: var(--primario);
  width: 100%;
  font-size: 2rem;
}


header a {
  text-decoration: none;
  color: var(--negro);
}

header li {
  text-decoration: none;
  list-style: none;
}
header .iconos .titulo .header-logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}
header .iconos .titulo h1 {
  align-items: center;
}

header .iconos .titulo img {
  width: 10rem;
}

.header .iconos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 3rem;
}

.header .iconos a {
  padding: 1rem;
}


.header .iconos .titulo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.header .iconos .iconoss {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}


header .secciones {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
}

@media screen and (max-width:769px){ 
  header .secciones {
    display: none;
  }
  .header .iconos .iconoss {
    margin: 0 auto;
  }
  
}
/**footer__________________________________________**/
.pie-pagina{
  width: 100%;
  background-color: var(--primario);
}
.box{
  justify-self: center;
}
.footer-img{
  width: 12rem;
  justify-items:center;
}
.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;

}

.pie-pagina .grupo-1 figure{
  margin: 1em;
}

.pie-pagina .grupo-1 .box .figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}

.pie-pagina .grupo-1 .box .figure{
 width: 250px; 
}

.pie-pagina .grupo-1 .box h2{
  color: var(--negro);
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p{
  color: var(--negro);
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: var(--negro);
  margin: 0 10px 10px 0;
  background-color: var(--secundario);
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: blanchedalmond;
}

.pie-pagina .grupo-2 {
  background-color:var(--secundario);
  padding: 15px 10px;
  text-align: center;
  color: var(--negro);
  font-size: 15px;
}
.card-img{
  margin: 0 5px 5px 0;
  width: auto;
}

@media screen and (max-width:769px){ 
  .pie-pagina .grupo-1{
      width: 85%;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 30px;
      padding: 35px 0px;
  
  } 
}

/** PRODUCTOS EN VENTA**/

.productos-venta{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  padding: 1rem;
}

.productos-venta .produc{
  align-items: center;
  padding: 5rem;
}

.productos-venta .produc a {
  text-decoration: none;
  align-items: center;
  color: var(--negro);
}

.productos-venta .produc img{
  height: 250px;
  width: 250px;
  object-fit:contain;
  align-items: center 
  
}
.productos-venta .produc .productos-venta-informacion{
  background-color: var(--blanco);
  text-align: center;
}
/** /USERS **/
h3{
  text-align: center;
  color: gray;
}

ul li {
  text-align: center;
  padding: 1.5rem;
}
form li{
  text-align: center;
}

form ul li label{
  text-align: start;
  display: flex;
  justify-content: center;
  font-size: medium;
  padding: 1rem;
}

form ul li input{
  width: 30%;
}
.button_contenedor {
  display:flex ;
  justify-content: center;
  flex-wrap: wrap;
}
.button button{
  width: 15rem;
  background-color:#eee1e1;
  height: 3rem;
  border-color: var(--primario);
}

@media screen and (max-width:769px){ 
  form ul li input{
    width: 70%;
  }
}

/** /detalle **/
.boxx .detalle-boxx{
display: grid;
grid-template-columns: 70% auto;
}

.boxx .box1{
  display:flex ;
  flex-wrap: wrap;
  justify-content: space-around;
}

.productos-venta .produc .img-detalle{
  height: 150px;
  width: 150px;
  object-fit:contain;
  align-items: center;
}

.box1{
  justify-content: center;
}

.box1_1 {
  display: grid;
  align-items: center;
  align-content: baseline;

}

.box_2 {
  padding: 3rem;
}

.box1 .box1_1 .button_contenedor{
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.box1_1 .button .comprar{
  width: 20rem;
  height: 4rem;
}

.box1_1 .number{
  width: 5rem;
  margin: 0 auto;
}

.boxx .box1_2 img{
  display: flex;
  height: 350px;
  width: 350px;
  object-fit:contain;
  align-items: center;
  margin: 0 auto; 
}

.box1 h1 {
  color: var(--cuarto);
}

.box1 .cantidad {
  color:gray;
}

@media screen and (max-width:1034px){ 
.boxx .detalle-boxx{ 
    display:grid ;
    grid-template-columns: repeat(1, 1fr);
  }
  .boxx .box1{
    flex-direction: column-reverse;
  }
  .productos-venta .produc .img-detalle{
    height: 100px;
    width: 100px;
  }

}
/** CARRITO **/
.compra .compra-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 3rem;
}

.compra .compra-img .img-detalle{
  height: 200px;
  width: 200px;
  object-fit:contain;
  align-items: center;
}

.compra .compra-descripcion{
  display: flex;
  width: 35rem;
  padding: 2rem;
}

.compra-nota{
  margin: 0 auto;
}

.compra-nota textarea{
  width: 60%;
  height: 15rem;
  display: flex;
  margin: 3rem auto;
}


.button_contenedor .button{
  width: 20rem;
  height: 3.5rem;
  border-color: var(--primario);
  margin: 2rem
}
.button_contenedor .button a {
  text-decoration: none;
  color: black;
}


@media screen and (max-width:769px){ 
  .compra .compra-descripcion{
    display: none;
  }
  .button_contenedor .button{
    margin: 2rem
  }
}

/** CONTACTO DE VENTA **/
form .inf_contacto-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem;
  
}

.inf_contacto-box li{
  width: 50%;
  height: 3rem;
  padding: 2rem;
}
.inf_contacto-box .inf_contacto-block{
  width: 95%;
  height: 7rem;
  margin: 0 auto;
  padding: 2rem;
}

.inf_contacto-box .inf_contacto-block .inf_contacto-block-1{
  width: 100%;
  margin: 0 auto;
}
.inf_contacto-box li input{
  width: 90%;
  height: 3rem;
}

form .inf_contacto-box select {
  width: 90%;
  height: 3rem;
}
.inf_contacto-box li textarea{
  width: 90%;
  height: 6rem;
}
.inf_contacto-box label{
  margin: 0 auto;
}
/* validaciones */
.text-danger{
  margin: 0 auto;
  color: red;
}

/* Validaciones del back_________________________________ */
.invalid {
  border: solid 1px red;
  box-shadow: 0 0 10px red;
}
.error {
  color: red;
  display: block;
}





