body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a {
  color: #00B7FF;
}

:root {
  --primario: #ccaaa9;
  --secundario: #e4c1c0;
  --blanco : #ffffff;
  --negro : rgb(0, 0, 0);
  --fuente: font-family: 'Baloo 2', cursive;

}

html {
  box-sizing: border-box;
  font-size: 62.5%; /**para trabajar con rem**/
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**globales**/


/** header **/
body .header{
  background-color: var(--primario);
}
header {
  background-color: var(--primario);
  width: 100%;
  font-size: 2rem;
}

header a {
  text-decoration: none;
  color: var(--negro);
}

header li {
  text-decoration: none;
  list-style: none;
}
header .iconos .titulo h1 {
  align-items: center;
}

header .iconos .titulo img {
  width: 10rem;
}

.header .iconos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 3rem;
}

.header .iconos a {
  padding: 1rem;
}


.header .iconos .titulo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.header .iconos .iconoss {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}


header .secciones {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding: 2rem;
}



