<footer class="pie-pagina">
    <div class="grupo-1">

        <div class="box">
            <figure>
                <a href="/"><img src="/images/Diseño_sin_título__2__page-0001-removebg.png" class="footer-img"
                        alt="logo"></a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <P>somos una empresa colombiana enfocada en la comercializacion de maquillaje y skin care.</P>
            <P>somos la empresa enfocada en ofrecer productos de calidad a precios comodos somos <b>SOFT & BOLD</b></P>
        </div>

        <div class="box">
            <h2>MEDIOS DE PAGO</h2>

            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/visa@2x.png"
                alt="visa" class="card-img" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mastercard@2x.png"
                alt="mastercard" class="card-img" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/amex@2x.png"
                alt="amex" class="card-img" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/diners@2x.png"
                alt="diners" class="card-img" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/paypal@2x.png"
                alt="paypal" class="card-img" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/co/efecty@2x.png"
                alt="co_efecty" class="card-img" width="40" height="25">
            <img src="//d26lpennugtm8s.cloudfront.net/assets/common/img/logos/payment/new_logos_payment/mercadopago@2x.png"
                alt="mercadopago" class="card-img" width="40" height="25">
        </div>

        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>

    </div>

    <div class="grupo-2">
        <small> &copy; 2022 <b>Slee Dw</b> - Todos los derechos Reservados.</small>
    </div>

</footer>