
<header>
    <div class="header">
      <div class="iconos">
        <div class="titulo">
          <a class="header-logo" href="/">
            <img src="/images/Diseño_sin_título__2__page-0001-removebg.png" alt="LOGO"> 
            <h1> SOFT & BOLD</h1> 
          </a>
        </div>
        <div class="iconoss"> 
          <i class="fa-solid fa-user fa-lg"></i>
          <a href="/users">Usuario</a>
          <i class="fa-solid fa-magnifying-glass fa-lg"></i>
          <a href="">Buscar</a>
          <form action="#" method="post">
            <input type="text">
          </form>
        </div>
      </div>
    </div>
      <div class="secciones">
        <li><a href="#">Maquillaje</a></li>
        <li><a href="#">Skin care</a></li>
        <li><a href="#">Accesorios</a></li>
        <a href="/car">
          <i class="fa-solid fa-cart-shopping fa-xl"></i>
        </a>
      </div>
      
    
  </header>