<header>
    <div class="header">
      <div class="iconos">
        <div class="titulo">
          <h1>SOFT & BOLD</h1> 
        </div>
        <div class="iconoss"> 
          <i class="fa-solid fa-magnifying-glass"></i>
          <a href="">Usuario</a>
          <i class="fa-solid fa-user"></i>
          <a href="">Buscar</a>
        </div>
      </div>
    </div>
      <div class="secciones">
        <li><a href="#">Maquillaje</a></li>
        <li><a href="#">Skin care</a></li>
        <li><a href="#">accesorios</a></li>
        <i class="fa-solid fa-cart-shopping"></i>
      </div>
    
  </header>