<!DOCTYPE html>
<html>
  <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>
  <div class="productos-venta">
    <div class="produc">
      <a href="/detalle">
        <img src="/images/1.PNG" alt="1">
        <div class="productos-venta-informacion">
          <h3>PALETA</h3>
          <P>Ruby Rose</P>
          <P><b>$ 16.000 COP</b></P>
        </div>
      </a>
    </div>

    <div class="produc">
      <a href="/detalle">
        <img src="/images/2.PNG" alt="1">
        <div class="productos-venta-informacion">
          <h3>PALETA</h3>
          <P>Ruby Rose</P>
          <P><b>$ 16.000 COP</b></P>
        </div>
      </a>
    </div>

    <div class="produc">
      <a href="#">
        <img src="/images/3.PNG" alt="1">
        <div class="productos-venta-informacion">
          <h3>PALETA</h3>
          <P>Ruby Rose</P>
          <P><b>$ 16.000 COP</b></P>
        </div>
      </a>
    </div>


    <div class="produc">
      <a href="#">
        <img src="/images/4.PNG" alt="1">
        <div class="productos-venta-informacion">
          <h3>PALETA</h3>
          <P>Ruby Rose</P>
          <P><b>$ 16.000 COP</b></P>
        </div>
      </a>
    </div>


    <div class="produc">
      <a href="#">
        <img src="/images/5.PNG" alt="1">
        <div class="productos-venta-informacion">
          <h3>PALETA</h3>
          <P>Ruby Rose</P>
          <P><b>$ 16.000 COP</b></P>
        </div>
      </a>
    </div>

    <div class="produc">
      <a href="#">
        <img src="/images/6.PNG" alt="1">
        <div class="productos-venta-informacion">
          <h3>PALETA</h3>
          <P>Ruby Rose</P>
          <P><b>$ 16.000 COP</b></P>
        </div>
      </a>
    </div>

    <div class="produc">
      <a href="#">
        <img src="/images/7.PNG" alt="1">
        <div class="productos-venta-informacion">
          <h3>PALETA</h3>
          <P>Ruby Rose</P>
          <P><b>$ 16.000 COP</b></P>
        </div>
      </a>
    </div>


    <div class="produc">
      <a href="#">
        <img src="/images/8.PNG" alt="1">
        <div class="productos-venta-informacion">
          <h3>PALETA</h3>
          <P>Ruby Rose</P>
          <P><b>$ 16.000 COP</b></P>
        </div>
      </a>
    </div>


    <div class="produc">
      <a href="#">
        <img src="/images/9.PNG" alt="1">
        <div class="productos-venta-informacion">
          <h3>PALETA</h3>
          <P>Ruby Rose</P>
          <P><b>$ 16.000 COP</b></P>
        </div>
      </a>
    </div>


    <div class="produc">
      <a href="#">
        <img src="/images/10.PNG" alt="1">
        <div class="productos-venta-informacion">
          <h3>PALETA</h3>
          <P>Ruby Rose</P>
          <P><b>$ 16.000 COP</b></P>
        </div>
      </a>
    </div>


    <div class="produc">
      <a href="#">
        <img src="/images/11.PNG" alt="1">
        <div class="productos-venta-informacion">
          <h3>PALETA</h3>
          <P>Ruby Rose</P>
          <P><b>$ 16.000 COP</b></P>
        </div>
      </a>
    </div>

    <div class="produc">
      <a href="#">
        <img src="/images/12.PNG" alt="1">
        <div class="productos-venta-informacion">
          <h3>PALETA</h3>
          <P>Ruby Rose</P>
          <P><b>$ 16.000 COP</b></P>
        </div>
      </a>
    </div>

  </div>
  <%- include("../partials/footer.ejs") %>
</body>

</html>