<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <%- include('../partials/head.ejs') %>
</head>
<body>
<%- include('../partials/header.ejs') %>
<h3>SOFT & BOLD</h3>
<H1> BIENVENIDO </H1>
<form action="/" method="get">
    <div class="button_contenedor">
        <button class="button" type="submit">COMPRAR</button> 
    </div>
</form>
<form action="#" method="get">
    <div class="button_contenedor">
        <button class="button" type="submit">VER CARRITO</button> 
    </div>
</form>
<form action="#" method="get">
    <div class="button_contenedor">
        <button class="button" type="submit">TUS COMPRAS</button>
    </div>
</form>
<%- include('../partials/footer.ejs') %>
</body>
</html>