<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<%- include('../partials/head.ejs') %>
<body>
<%- include('../partials/header.ejs') %>
<h1>REGISTRO</h1>
<form action="/users/register" method="post">
    <div class="inf_contacto-box" >
        <li class="inf_contacto-block">
            <input class=".inf_contacto-block-1" type="email" placeholder="Correo electronico" name="correo">
        </li>
    </div>

    <div class="inf_contacto-box" >
        <li class="inf_contacto-block">
            <input class=".inf_contacto-block-1" type="text" placeholder="Nombres" name="nombre">
        </li>
    </div>

    <div class="inf_contacto-box" >
        <li class="inf_contacto-block">
            <input class=".inf_contacto-block-1" type="text" placeholder="Apellidos" name="apellidos">
        </li>
    </div>

    <div class="inf_contacto-box" >
        <li class="inf_contacto-block">
            <input class=".inf_contacto-block-1" type="password" placeholder="contraseña" name="contraseña">
        </li>
    </div>
    <div class="button_contenedor">
        <button class="button" type="submit">Registrarse</button> 
        <button class="button" type="reset">Cancelar</button>
    </div>

</form>
<%- include('../partials/footer.ejs') %>
    
</body>
</html>