<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <%- include('../partials/head.ejs') %>
</head>
<body>
<%- include('../partials/header.ejs') %>
<h3>SOFT & BOLD</h3>
<h1>INICIAR SESION</h1>

<form action="/users" method="post">
    <form action="/my-handling-form-page" method="post">
        <ul>
            <li>
                <label for="name">USUARIO       :</label>
                <input type="email" id="user" name="Email">
                <span></span>
                <% if (locals.errors && errors.correo) { %>
                    <div class="text-danger">
                        <label><%= errors.correo.msg %></label>
                    </div>
                <% } %>
            </li>
            <li>
                <label for="password">CONTRASEÑA        :</label>
                <input type="password" id="password" name="Contraseña">
                <span></span>
            </li>
            <li>
                <a href="/users/register">Registrarse</a>
            </li>
        </ul>
        <ul class="button_contenedor">
            <li class="button">
                <button type="submit">ENVIAR</button>
            </li>
    
            <li class="button">
                <button type="reset">BORRAR</button>
            </li>
    
        </ul>
    </form>

</form>
<%- include('../partials/footer.ejs') %>
<script src="/validacionesUsuario.js"></script>
</body>
</html>